@font-face {
    font-family: 'PCMagazineFontRegular';
    src: url('pc_magazine_font-webfont.eot');
    src: local('☺'), url('pc_magazine_font-webfont.woff') format('woff'), url('pc_magazine_font-webfont.ttf') format('truetype'), url('pc_magazine_font-webfont.svg#PCMagazineFontRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PlayRegular';
    src: url('/fonts/Play-Regular-webfont.eot');
    src: url('/fonts/Play-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Play-Regular-webfont.woff') format('woff'),
         url('/fonts/Play-Regular-webfont.ttf') format('truetype'),
         url('/fonts/Play-Regular-webfont.svg#PlayRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GeoOblique';
    src: url('/fonts/Geo_Oblique-webfont.eot');
    src: url('/fonts/Geo_Oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Geo_Oblique-webfont.woff') format('woff'),
         url('/fonts/Geo_Oblique-webfont.ttf') format('truetype'),
         url('/fonts/Geo_Oblique-webfont.svg#GeoOblique') format('svg');
    font-weight: normal;
    font-style: normal;

}

html { margin: 0; padding: 0; }

body { 
	margin-top: 10px; 
	background-image:url('/icons/kennetics.jpg');
  font-color: black;
}

#centre { width: 950px; margin: 0 auto; background-color: #CCBDCC; }

header nav a { 
font-family:"PlayRegular"; 
text-align:center; 
color:#6BFF8E; 
}

header nav a:visited { color: #6BFF8E; }
header nav a:hover { color: #00C768; }
header nav a:active { color: #6BFF8E; }

.nav-link { 
float:left; 
padding-right: 21px;
padding-left: 22px;
padding-top: 6px;
}

.nav-link-text { float:left; padding-top: 4px; }

.icons { 
background-repeat:no-repeat; 
float:left;
padding-right: 7px;
image-align: center; 
}

#home-icon { background-image:url(/icons/home_icon.png); height: 30px; width: 30px; }

#blog-icon { background-image:url(/icons/Speech_Bubble.png); height: 30px; width: 30px; }

#contact-icon { background-image:url(/icons/icon_mail.png); height: 30px; width: 30px; }

#about-icon { background-image:url(/icons/QuestionBlockPNG.png); height: 30px; width: 30px; }

#projects-icon { background-image:url(/icons/puzzle_piece.png); height: 30px; width: 30px; }

#menubar { height: 40px; background-color: #636469; }

header #logn { text-align: center; }

header h1 {  
text-align:center; 
color: #00C768; 
font:90px 'PCMagazineFontRegular';
letter-spacing: 0;
text-shadow: 2px 2px 2px #636469;
}

#full-post #full-project {
}

.box {
border-style:solid;
border-width:medium; 
height: auto; 
width: 750px;
border-color:black;
border-radius: 15px;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
background: -webkit-gradient (linear, 0% 0%, 0% 100%, from(#E3E3E3), to(#FFFFFF)); 
background: -webkit-linear-gradient(top, #E3E3E3, #FFFFFF); 
background: -moz-linear-gradient(top, #E3E3E3, #FFFFFF); 
background: -ms-linear-gradient(top, #E3E3E3, #FFFFFF);
background: -o-linear-gradient(top, #E3E3E3, #FFFFFF);
margin: 20px auto;
}



.info { 
border-style:solid;
border-width:medium; 
height: 80px; 
width: 375px;
border-color:black;
float:left;
margin-left: 47px;
margin-right: 47px;
margin-bottom: 40px;
border-radius: 33px;
-moz-border-radius: 33px;
background-color: #00C768;
background: -webkit-gradient (linear, 0% 0%, 0% 100%, from(#E3E3E3), to(#FFFFFF)); 
background: -webkit-linear-gradient(top, #E3E3E3, #FFFFFF); 
background: -moz-linear-gradient(top, #E3E3E3, #FFFFFF); 
background: -ms-linear-gradient(top, #E3E3E3, #FFFFFF);
background: -o-linear-gradient(top, #E3E3E3, #FFFFFF);
background: linear-gradient(top, #E3E3E3, #FFFFFF);
}

.login-form ul { list-style-type: none; }

.contactdets ul {list-style-type:circle;}


#login ul { 
list-style-type: none; 
margin: 0; 
font-family:"PlayRegular"; 
padding-top: 3px; 
}

#login li a:visited { color:#6BFF8E; }
#login li a:hover { color:#00C768; }
#login li a:active { color:#6BFF8E; }

#login ul a:visited { color:#6BFF8E; }
#login ul a:hover { color:#00C768; }
#login ul a:active { color:#6BFF8E; }

#login li { 
	float:left; 
	margin-right: 5px; 
	font-family:"PlayRegular"; 
	padding-top: 3px;
	}
	
.post-text { color: black; }

#main { color:black; text-align:center; font-family:"PlayRegular"; }

.clear-fix { clear: both; }


