%section
  #description
    %h3 This is the contact page
    %p You can get in touch with me via:
    %ul.contactdets
      %li
        %a{:href => 'https://github.com/jackweidea2011'}
          GitHub: jackweidea2011