%header
	#menubar
		= haml :nav
		#login
			%ul
				- if signed_in?
					%li
						%a(href="/user/#{current_user.id}")
							= current_user.email
					%li
						%a(href='/logout') Logout
				- else  
					%form.login-form(method='post' action='/sessions' accept-charset='utf-8')
						%li
							%input(id="user_email" type="text" value="E-mail" size="15" name="user[email]")
						%li
							%input(id="user_password" type="password" value="Password" size="15" name="user[password]")
						%li
							%input(id="user_submit" type="submit" value="Log in" name="commit")
 
	%h1.clear-fix My Portfolio
  