#description
	%p Welcome to the home-page of My Portfolio!
#overview
	.info
		%a{:href => '/posts'} Blog
		%p Check posts I've made on my Blog!
	.info
		%a{:href => '/projects'} Work
		%p Take a look at some of the projects I'm doing, or have already completed.
	.info
		%a{:href => '/about'} About
		%p All about me.
	.info
		%a{:href => '/contact'} Contact
		%p Get in touch!