%nav
	%a{:href => '/'}
		#home-link.nav-link
			#home-icon.icons
			.nav-link-text
				Home
	%a{:href => '/about'}
		#about-link.nav-link
			#about-icon.icons
			.nav-link-text
				About
	%a{:href => '/posts'}
		#blog-link.nav-link
			#blog-icon.icons
			.nav-link-text
				Blog
	%a{:href => '/projects'}
		#projects-link.nav-link
			#projects-icon.icons
			.nav-link-text
				My Work
	%a{:href => '/contact'}
		#contact-link.nav-link
			#contact-icon.icons
			.nav-link-text
				Contact